<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" data-color="orange">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
                Online Deal Finder
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/pages/landing']">
                      <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                      <p>Discover</p>
                  </a>
                </li>
            </ul>
        </div>

        <div class="dropdown button-dropdown">
            <div ngbDropdown>
              <a class="dropdown-toggle" ngbDropdownToggle>
                  <span class="button-bar"></span>
                  <span class="button-bar"></span>
                  <span class="button-bar"></span>
              </a>
               <div ngbDropdownMenu>
                 <a class="dropdown-header">Login/Register</a>
                    <a class="dropdown-item" [routerLink]="['/pages/login']">
                        <i class="fa fa-sign-in"></i>
                        <p>Login</p>
                    </a>
                    <a class="dropdown-item" [routerLink]="['/pages/register']">
                        <i class="fa fa-user-plus"></i>
                        <p>Register</p>
                    </a>
                </div>
             </div>
          </div>
          
    </div>
</nav>
