<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" [formGroup]="loginForm">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/now-logo.png" alt="">
                        </div>
                    </div>
                    <div class="content">
                      <div class="input-group form-group-no-border input-lg" >
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                          <input type="email" class="form-control" formControlName="email" placeholder="Email Id..."  >
                      </div>
                      <div class="input-group form-group-no-border input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="password" placeholder="Password..." formControlName="password" class="form-control" />
                      </div>
                    </div>

                    <div class="social-line">
                        <button class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round" (click)="socialSignIn('google')">
                            <i class="fa fa-google"></i>
                        </button>
                    </div>
                    <div class="footer text-center">
                        <a (click)="login()" class="btn btn-primary btn-round btn-lg btn-block">Get Started</a>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a href="/pages/register" class="link">Create Account</a>
                        </h6>
                    </div>
                    <div class="pull-right">
                        <h6>
                            <a href="#pablo" class="link">Need Help?</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
