<div class="wrapper">
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Items Of Your Choice Are Here...</h2>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center" >
                                    <ngb-tab title="Image">
                                      <ng-template ngbTabContent>
                                        <div class="image-container" style="background-image: url('assets/img/login.jpg')">
                                            <!-- First image on the left side -->
                                        </div>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Item Description">
                                      <ng-template ngbTabContent>
                                          <p> Item Description Comes Here</p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Contact Seller">
                                      <ng-template ngbTabContent>
                                          <p>Contact of Seller comes here</p>
                                      </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-6">
                        <div class="card">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center" >
                                        <ngb-tab title="Image">
                                          <ng-template ngbTabContent>
                                            <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                                          </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Item Description">
                                          <ng-template ngbTabContent>
                                              <p> Item Description Comes Here</p>
                                          </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Contact Seller">
                                          <ng-template ngbTabContent>
                                              <p>Contact of Seller comes here</p>
                                          </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </div><!-- First image on the right side, above the article -->
                    </div>
                </div>
            </div>

            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center" >
                                    <ngb-tab title="Image">
                                      <ng-template ngbTabContent>
                                        <div class="image-container" style="background-image: url('assets/img/login.jpg')">
                                            <!-- First image on the left side -->
                                        </div>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Item Description">
                                      <ng-template ngbTabContent>
                                          <p> Item Description Comes Here</p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Contact Seller">
                                      <ng-template ngbTabContent>
                                          <p>Contact of Seller comes here</p>
                                      </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-6">
                        <div class="card">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center" >
                                        <ngb-tab title="Image">
                                          <ng-template ngbTabContent>
                                            <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                                          </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Item Description">
                                          <ng-template ngbTabContent>
                                              <p> Item Description Comes Here</p>
                                          </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Contact Seller">
                                          <ng-template ngbTabContent>
                                              <p>Contact of Seller comes here</p>
                                          </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </div><!-- First image on the right side, above the article -->
                    </div>
                </div>
            </div>
            
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center" >
                                    <ngb-tab title="Image">
                                      <ng-template ngbTabContent>
                                        <div class="image-container" style="background-image: url('assets/img/login.jpg')">
                                            <!-- First image on the left side -->
                                        </div>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Item Description">
                                      <ng-template ngbTabContent>
                                          <p> Item Description Comes Here</p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Contact Seller">
                                      <ng-template ngbTabContent>
                                          <p>Contact of Seller comes here</p>
                                      </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-6">
                        <div class="card">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center" >
                                        <ngb-tab title="Image">
                                          <ng-template ngbTabContent>
                                            <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                                          </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Item Description">
                                          <ng-template ngbTabContent>
                                              <p> Item Description Comes Here</p>
                                          </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Contact Seller">
                                          <ng-template ngbTabContent>
                                              <p>Contact of Seller comes here</p>
                                          </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </div><!-- First image on the right side, above the article -->
                    </div>
                </div>
            </div>
            <ngb-pagination [collectionSize]="70" [(page)]="page" [maxSize]="5" aria-label="Default pagination" class="pagination-danger d-flex justify-content-center"></ngb-pagination>
        </div>
    </div>
    <footer class="footer" data-background-color="black" >
        <div class="container">
            <nav>
            </nav>
        </div>
    </footer>
</div>
