<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
        <div class="container">
            <div class="content-center brand">
            <img class="n-logo" src="assets/img/now-logo.png" alt="">
            <h1 class="h1-seo">Online Deal Finder</h1>
          </div>
        </div>
  </div>

  <div class="main">
        <div class="page-header clear-filter" filter-color="orange">
            <div class="navigation-example" >
            <div class="content-center brand">
            <h1 class="h1-seo" style="font-size: 95px; height: 309px; text-align:center; line-height: 900px">
                We Deal, You Enjoy!!
            </h1>
            </div>
        </div>
<div>
  <footer class="footer" data-background-color="black">
          <nav>
          </nav>
  </footer>
</div>
